.row-header {
	background-color: black;
	margin:0px auto;
	padding:0px auto;
}

.row-header {
	margin:0px auto;
	padding:0px auto;
}

.row-content {
	margin:0px auto;
	padding: 25px 0px 50px 0px;
	border-bottom : 1px ridge;
	min-height:400px;
}

.row-footer {
	background-color :#AfAfAf;
	margin:0px;
	padding:20px 0px 20px 0px;
}

body{
	padding: 0px 0px 0px 0px;
	z-index: 0;
}

#title {
	text-align: right;
	color: #FFFFFF;
}